<!DOCTYPE html>
<html>

{{- partial "head.html" . -}}

<body class="m:0 
        bg:indigo-8@dark 
        font:gray-88@dark 
        font:indigo-8 
        bg:gray-88
        font-family:Hind|Siliguri
        ">
    {{- partial "header.html" . -}}
    <!-- Code that all your templates share, like a header -->
    <div class="d:flex flex:column@<=xs pt:90 px:32 jc:center gap:44 word-break:break-word">
        {{- block "side" . }} {{- end}}
        <div class="max-w:700 w:full box:content-box">
            {{ block "main" . }} {{ end }}
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>

</html>
