{{ define "main" }}
<article class="box:border-box pt:32">
    <header class="mb:32">
        <h1 class="f:34 font-family:Changa f:indigo-84@dark">{{ .Title }}</h1>
        <div class="d:flex flex:row gap:4 mt:16 f:gray-50 ai:center">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
            {{- partial "tags.html" (dict "tags" .Params.tags) }}
        </div>
        {{- partial "series.html" (dict "series" .Params.series )}}
    </header>
    {{- partial "prose.html" . -}}
</article>
{{ end }}
