<nav
    class="w:full h:90 fixed bg:indigo-8/.95@dark bg:gray-88 z:1000 font-family:Changa f:30 f:gray-16 f:indigo-84@dark">
    <div class="h:full w:full max-w:1200 mx:auto px:32 d:flex align-items:center">
        <div>
            <a href="/" class="mr-3">
                {{ if not .Site.Params.HeaderTitle }}
                {{ .Site.Title }}
                {{ else }}
                {{ .Site.Params.HeaderTitle }}
                {{ end }}
            </a>
        </div>
        <div class="ml:auto">
            {{ $currentPage := . }}
            {{ $active := "" }}
            {{ range .Site.Menus.main }}
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ $active = "active" }}
            {{ end }}
            <a class="
                font:semibold
                px:8
                transition:150ms;ease-in
                {{ $active }}
            " href="{{ .URL }}" title="{{ .Title }}">
                {{- .Name -}}
            </a>
            {{ end }}
        </div>
    </div>
</nav>
