<div class="mb:12 py:8">
    <div class="d:flex flex:row ai:center">
        <a class="f:20! f:indigo-84@dark f:indigo-70:hover f:indigo-98:hover@dark f:semibold! text-decoration:none transition:150ms;ease-in"
            href="{{ .url }}">
            {{ .title }}
        </a>
        {{- partial "tags.html" (dict "tags" .tags) }}
    </div>
    {{- partial "series.html" (dict "series" .series )}}
    <p class="my:8">{{ .description }}</p>
    <div class="mt:12 f:14 f:gray-50"><time>{{ .subTitle }}</time></div>
    {{ .hi }}
</div>
